<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="consumerKey" value="1010101010"/>
    <add key="consumerSecret" value="43e5fbb6e536e9a538206510642"/>
  </appSettings>
  
    <system.web>
      <httpRuntime executionTimeout="600" />
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <customBinding>
                <binding name="SinaDesktop.Web.SinaService.customBinding0"
                         receiveTimeout="01:00:00"
                         sendTimeout="01:00:00"
                         openTimeout="01:00:00"
                         closeTimeout="01:00:00" >
                  <binaryMessageEncoding maxReadPoolSize="2147483647" maxSessionSize="2147483647" maxWritePoolSize="2147483647" >
                  <readerQuotas maxArrayLength="2147483647" 
                                maxBytesPerRead="2147483647" 
                                maxDepth="2147483647" 
                                maxNameTableCharCount="2147483647" 
                                maxStringContentLength="2147483647"/>
                  </binaryMessageEncoding>
                  <httpTransport maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" />
                </binding>
            </customBinding>
        </bindings>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="SinaDesktop.Web.SinaService">
                <endpoint address="" binding="customBinding" bindingConfiguration="SinaDesktop.Web.SinaService.customBinding0"
                    contract="SinaDesktop.Web.IDataService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
